html
    head
        title crud operation
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        
        ul#topmanu
         li
          a(href="/") prodcut
          ul#topmanu
         li
          a(href="/contactus") Contact Us
          
        hr
        block content
        hr




